In [ ]:
import pandas as pd
import numpy as np
import json
import re
import glob
import os
import pandasql
import matplotlib.pyplot as plt

In [ ]:
#df_1 = pd.read_json('C:/Users/vansh/Desktop/Book/Capstone2/SRL/Data/final_grade/106570final_grade.JSON')
#users_106570 = df_1["user_id"].unique()

In [ ]:
path = r'C:/Users/vansh/Desktop/Book/Capstone2/SRL/Data/pageview/106570' # use your path
all_files = glob.glob(os.path.join(path, "*.xlsx"))

In [ ]:
li_1 = []
for filename in all_files:
    df = pd.read_excel(filename, index_col=None, header=0)
    li_1.append(df)

pgv_570 = pd.concat(li_1, axis=0, ignore_index=True)

In [ ]:
ids = []
for i in range(len(pgv_570["links"])):
    m = re.search("user': (.+?), 'cont",pgv_570["links"][i])
    if m:
        lost = m.group(1)
    ids.append(lost)

pgv_570['Ids']=ids
#pgv_570.head()

In [ ]:
date = []
for i in range(len(pgv_570["created_at"])):
    m = re.search("(.+?)T",pgv_570["created_at"][i])
    if m:
        lost = m.group(1)
    date.append(lost)
#print(date)
pgv_570['Date']=date

In [ ]:
final_570_frame = pgv_570.drop(['session_id','links','created_at','url'],axis=1)
final_570_frame.head()

In [ ]:
final_570_frame.shape

In [ ]:
w1_570 = pandasql.sqldf("SELECT * FROM final_570_frame where Date > '2021-02-28' and Date < '2021-03-08';", globals())
w2_570 = pandasql.sqldf("SELECT * FROM final_570_frame where Date > '2021-03-07' and Date < '2021-03-15';", globals())
w3_570 = pandasql.sqldf("SELECT * FROM final_570_frame where Date > '2021-03-14' and Date < '2021-03-22';", globals())
w4_570 = pandasql.sqldf("SELECT * FROM final_570_frame where Date > '2021-03-20' and Date < '2021-03-29';", globals())
w5_570 = pandasql.sqldf("SELECT * FROM final_570_frame where Date > '2021-03-28' and Date < '2021-04-05';", globals())
w6_570 = pandasql.sqldf("SELECT * FROM final_570_frame where Date > '2021-04-11' and Date < '2021-04-19';", globals())
w7_570 = pandasql.sqldf("SELECT * FROM final_570_frame where Date > '2021-04-18' and Date < '2021-04-26';", globals())
w8_570 = pandasql.sqldf("SELECT * FROM final_570_frame where Date > '2021-05-02' and Date < '2021-05-10';", globals())
w9_570 = pandasql.sqldf("SELECT * FROM final_570_frame where Date > '2021-05-09' and Date < '2021-05-17';", globals())
w10_570 = pandasql.sqldf("SELECT * FROM final_570_frame where Date > '2021-05-16' and Date < '2021-05-24';", globals())
w11_570 = pandasql.sqldf("SELECT * FROM final_570_frame where Date > '2021-05-23' and Date < '2021-05-31';", globals())
w12_570 = pandasql.sqldf("SELECT * FROM final_570_frame where Date > '2021-05-30' and Date < '2021-06-07';", globals())

In [ ]:
w1_570_count = pandasql.sqldf("SELECT ids, controller, count(ids) as Visit_Count FROM w1_570 where controller in ('announcements','assignments','courses','discussion_topics','files','quizzes/quizzes','submissions') group by ids, controller", globals())
w2_570_count = pandasql.sqldf("SELECT ids, controller, count(ids) as Visit_Count FROM w2_570 where controller in ('announcements','assignments','courses','discussion_topics','files','quizzes/quizzes','submissions') group by ids, controller", globals())
w3_570_count = pandasql.sqldf("SELECT ids, controller, count(ids) as Visit_Count FROM w3_570 where controller in ('announcements','assignments','courses','discussion_topics','files','quizzes/quizzes','submissions') group by ids, controller", globals())
w4_570_count = pandasql.sqldf("SELECT ids, controller, count(ids) as Visit_Count FROM w4_570 where controller in ('announcements','assignments','courses','discussion_topics','files','quizzes/quizzes','submissions') group by ids, controller", globals())
w5_570_count = pandasql.sqldf("SELECT ids, controller, count(ids) as Visit_Count FROM w5_570 where controller in ('announcements','assignments','courses','discussion_topics','files','quizzes/quizzes','submissions') group by ids, controller", globals())
w6_570_count = pandasql.sqldf("SELECT ids, controller, count(ids) as Visit_Count FROM w6_570 where controller in ('announcements','assignments','courses','discussion_topics','files','quizzes/quizzes','submissions') group by ids, controller", globals())
w7_570_count = pandasql.sqldf("SELECT ids, controller, count(ids) as Visit_Count FROM w7_570 where controller in ('announcements','assignments','courses','discussion_topics','files','quizzes/quizzes','submissions') group by ids, controller", globals())
w8_570_count = pandasql.sqldf("SELECT ids, controller, count(ids) as Visit_Count FROM w8_570 where controller in ('announcements','assignments','courses','discussion_topics','files','quizzes/quizzes','submissions') group by ids, controller", globals())
w9_570_count = pandasql.sqldf("SELECT ids, controller, count(ids) as Visit_Count FROM w9_570 where controller in ('announcements','assignments','courses','discussion_topics','files','quizzes/quizzes','submissions') group by ids, controller", globals())
w10_570_count = pandasql.sqldf("SELECT ids, controller, count(ids) as Visit_Count FROM w10_570 where controller in ('announcements','assignments','courses','discussion_topics','files','quizzes/quizzes','submissions') group by ids, controller", globals())
w11_570_count = pandasql.sqldf("SELECT ids, controller, count(ids) as Visit_Count FROM w11_570 where controller in ('announcements','assignments','courses','discussion_topics','files','quizzes/quizzes','submissions') group by ids, controller", globals())
w12_570_count = pandasql.sqldf("SELECT ids, controller, count(ids) as Visit_Count FROM w12_570 where controller in ('announcements','assignments','courses','discussion_topics','files','quizzes/quizzes','submissions') group by ids, controller", globals())

In [ ]:
w1_570_count['Week'] = 'Week 1'
w2_570_count['Week'] = 'Week 2'
w3_570_count['Week'] = 'Week 3'
w4_570_count['Week'] = 'Week 4'
w5_570_count['Week'] = 'Week 5'
w6_570_count['Week'] = 'Week 6'
w7_570_count['Week'] = 'Week 7'
w8_570_count['Week'] = 'Week 8'
w9_570_count['Week'] = 'Week 9'
w10_570_count['Week'] = 'Week 10'
w11_570_count['Week'] = 'Week 11'
w12_570_count['Week'] = 'Week 12'

In [ ]:
first_half_570 = [w1_570_count,w2_570_count,w3_570_count,w4_570_count,w5_570_count,w6_570_count]
first_half_570 = pd.concat(first_half_570)

second_half_570 = [w7_570_count,w8_570_count,w9_570_count,w10_570_count,w11_570_count,w12_570_count]
second_half_570 = pd.concat(second_half_570)

full_data = [w1_570_count,w2_570_count,w3_570_count,w4_570_count,w5_570_count,w6_570_count,w7_570_count,w8_570_count,w9_570_count,w10_570_count,w11_570_count,w12_570_count]
full_data = pd.concat(full_data)

In [ ]:
second_half_570

In [ ]:
un_ids = full_data['Ids'].unique()
#un_ids

In [ ]:
d = []
cont = ['announcements','assignments','courses','discussion_topics','files','quizzes/quizzes','submissions']
for j in range(0,len(cont)):
    for i in range(len(un_ids)):
        query = pandasql.sqldf(f"SELECT sum(Visit_count) as Sum FROM full_data where Ids={un_ids[i]} and controller = '{cont[j]}'", globals())
        d.append(
            {
                'Ids' : un_ids[i],
                'Controller' : cont[j],
                'Count_m' : query['Sum'][0]
            }
        )
    
#pd.DataFrame(d)

In [ ]:
EDA_data = pd.DataFrame(d)

In [ ]:
l = []
for i in range(len(un_ids)):
    q1 = pandasql.sqldf(f"SELECT Count_m as ct FROM EDA_data where Ids={un_ids[i]} and controller = 'announcements'", globals())
    q2 = pandasql.sqldf(f"SELECT Count_m as ct FROM EDA_data where Ids={un_ids[i]} and controller = 'assignments'", globals())
    q3 = pandasql.sqldf(f"SELECT Count_m as ct FROM EDA_data where Ids={un_ids[i]} and controller = 'courses'", globals())
    q4 = pandasql.sqldf(f"SELECT Count_m as ct FROM EDA_data where Ids={un_ids[i]} and controller = 'discussion_topics'", globals())
    q5 = pandasql.sqldf(f"SELECT Count_m as ct FROM EDA_data where Ids={un_ids[i]} and controller = 'files'", globals())
    q6 = pandasql.sqldf(f"SELECT Count_m as ct FROM EDA_data where Ids={un_ids[i]} and controller = 'quizzes/quizzes'", globals())
    q7 = pandasql.sqldf(f"SELECT Count_m as ct FROM EDA_data where Ids={un_ids[i]} and controller = 'submissions'", globals())
    l.append(
        {
            'Ids':un_ids[i],
            'Announcements':q1['ct'][0],
            'Assignments':q2['ct'][0],
            'Courses':q3['ct'][0],
            'Discussions':q4['ct'][0],
            'Files':q5['ct'][0],
            'Quizzes':q6['ct'][0],
            'Submissions':q7['ct'][0]        
        }
    )

In [ ]:
EDA_data = pd.DataFrame(l)
EDA_data = EDA_data.sort_values('Ids')
#EDA_data.head()

In [ ]:
sum_list = list(EDA_data)
sum_list.remove('Ids')
EDA_data['Total_Views'] = EDA_data[sum_list].sum(axis=1)

In [ ]:
EDA_data.head()

In [ ]:
marks_1 = pd.read_json('C:/Users/vansh/Desktop/Book/Capstone2/SRL/Data/final_grade/106570final_grade.JSON')
marks_1

In [ ]:
marks_1 = marks_1[['user_id', 'grades']].copy()
marks_1.dtypes

In [ ]:
marks_1['grades'] = marks_1['grades'].astype('string')
marks_1.dtypes

In [ ]:
marks_1 = marks_1.drop_duplicates()

In [ ]:
marks_1 = marks_1.reset_index(drop=True)
marks_1.head()

In [ ]:
grades.dtypes

In [ ]:
g = []
for i in range(len(marks_1["grades"])):
    m = re.search("'current_grade': '(.+?)', 'current_score':",marks_1['grades'][i].astype('string'))
    if m:
        lost = m.group(1)
    g.append(lost)
#print(date)
marks_1['Grade']=g

In [ ]:
marks = []
for i in range(len(grades["grades"])):
    m = re.search(", 'current_score': (.+?), 'final_grade':",grades["grades"][i])
    if m:
        lost = m.group(1)
    marks.append(lost)
#print(date)
grades['Marks']=marks

In [ ]:
grades = pd.read_csv('C:/Users/vansh/New Grades.csv')
grades

In [ ]:
grades = grades.drop(['Unnamed: 0','grades'],axis=1)
grades

In [ ]:
grades = grades.rename({'user_id': 'Ids'}, axis=1)

In [ ]:
#grades

In [ ]:
#Change data type of Ids column
EDA_data['Ids'] =EDA_data['Ids'].astype(np.int64)

In [ ]:
EDA_data_final_1 = EDA_data.merge(grades, on='Ids', how='left')
EDA_data_final_1 = EDA_data_final_1.drop_duplicates()
EDA_data_final_1 = EDA_data_final_1.dropna().reset_index(drop=True)

In [ ]:
EDA_data_final_1.head()

In [ ]:
EDA_data_final = EDA_data_final_1[['Announcements', 'Assignments', 'Discussions', 'Files','Quizzes','Submissions','Grade']].copy()

In [ ]:
EDA_data_final

In [ ]:
import seaborn as sns
sns.set()

In [ ]:
EDA_data_final.hist(figsize=(15,12),bins = 15)
#plt.title("Features Distribution")
plt.show()

In [ ]:
sns.countplot(y=EDA_data_final.Grade, data=EDA_data_final)
plt.xlabel("Count of each Target class")
plt.ylabel("Target classes")
plt.show()

In [ ]:
fig,ax = plt.subplots(nrows = 3, ncols=2, figsize=(16,10))
row = 0
col = 0
for i in range(len(EDA_data_final.columns) -1):
    if col > 1:
        row += 1
        col = 0
    axes = ax[row,col]
    sns.boxplot(x = EDA_data_final['Grade'], y = EDA_data_final[EDA_data_final.columns[i]],ax = axes)
    col += 1
plt.tight_layout()
# plt.title("Individual Features by Class")
plt.show()

In [ ]:
p=sns.pairplot(EDA_data_final, hue = 'Grade')

In [ ]:
plt.figure(figsize=(15,15))
p=sns.heatmap(EDA_data_final.corr(), annot=True,cmap='RdYlGn')

In [ ]:
#EDA_data_final_sort = EDA_data_final.sort_values('Marks')
#EDA_data_final_sort.head()

In [ ]:
#Set inputs and run query

id = 17126
cont = 'assignments'

query_1 = pandasql.sqldf(f"SELECT * FROM first_half_570 where Ids={id} and controller = '{cont}'", globals())
query_2 = pandasql.sqldf(f"SELECT * FROM second_half_570 where Ids={id} and controller = '{cont}'", globals())
query_3 = pandasql.sqldf(f"SELECT * FROM full_data where Ids={id} and controller = '{cont}'", globals())
query_3

In [ ]:
plt.rcParams["figure.figsize"] = (10,5.5)

plt.subplot(1, 2, 1) # row 1, col 2 index 1
plt.plot(query_1['Week'], query_1['Visit_Count'], color='green')
plt.title("First Half")
plt.xlabel('Week')
plt.ylabel('Count')

plt.subplot(1, 2, 2) # row 1, col 2 index 1
plt.plot(query_2['Week'], query_2['Visit_Count'], color='green')
plt.title("Second Half")
plt.xlabel('Week')
plt.ylabel('Count')

plt.show()

In [ ]:
plt.rcParams["figure.figsize"] = (10,5.5)

plt.subplot(1, 2, 1) # row 1, col 2 index 1
plt.bar(query_1['Week'], query_1['Visit_Count'], color='blue')
plt.title("First Half")
plt.xlabel('Week')
plt.ylabel('Count')

plt.subplot(1, 2, 2) # row 1, col 2 index 1
plt.bar(query_2['Week'], query_2['Visit_Count'], color='blue')
plt.title("Second Half")
plt.xlabel('Week')
plt.ylabel('Count')

plt.show()

In [ ]:
fig,ax = plt.subplots(nrows = 2, ncols=2, figsize=(16,10))
for i in range(len(EDA_data_final.columns) -1):
    if col > 1:
        row += 1
        col = 0
    axes = ax[row,col]
    sns.boxplot(x = EDA_data_final['Grade'], y = EDA_data_final[EDA_data_final.columns[i]],ax = axes)
    col += 1
plt.tight_layout()
# plt.title("Individual Features by Class")
plt.show()

In [ ]:
plt.rcParams["figure.figsize"] = [7.50, 3.50]
plt.rcParams["figure.autolayout"] = True

query.plot(x="Week", y="Visit_Count", kind="bar", color='blue') 
query.plot(x="Week", y="Visit_Count", kind="line", color='Green')

In [ ]:
#convert to time series:
ts = full_data['Visit_Count']
#ts.head(10)

In [ ]:
plt.plot(ts)

In [ ]:
ts_1 = pandasql.sqldf("select Week, Visit_count from full_data where controller = 'discussion_topics'", globals())

In [ ]:
x = ts_1['Week'].values
y1 = ts_1['Visit_Count'].values

# Plot
fig, ax = plt.subplots(1, 1, figsize=(16,5), dpi= 120)
plt.fill_between(x, y1=y1, y2=-y1, alpha=0.5, linewidth=2, color='seagreen')
plt.ylim(-800, 800)
plt.title('Visit Counts (Two Side View)', fontsize=16)
plt.hlines(y=0, xmin=np.min(ts_1['Week']), xmax=np.max(ts_1['Week']), linewidth=.5)
plt.show()

In [ ]:
query_1.head()

In [ ]:
plt.rcParams["figure.figsize"] = (15,5.5)

plt.subplot(1, 2, 1)
plt.style.use('seaborn')
plt.bar(x = query_1['Week'], height = query_1['Visit_Count'])#, width = 0.4)
plt.xticks(query_1['Week'], ('Week 1','Week 2','Week 3','Week 4','Week 5','Week 6'))

plt.plot(query_1['Week'], query_1['Visit_Count'], color = 'red')
plt.scatter(query_1['Week'],query_1['Visit_Count'])
plt.ylim([0, 50])


plt.subplot(1, 2, 2)
plt.style.use('seaborn')
plt.bar(x = query_2['Week'], height = query_2['Visit_Count'])#, width = 0.4)
plt.xticks(query_2['Week'], ('Week 7','Week 8','Week 9','Week 10','Week 11','Week 12'))

plt.plot(query_2['Week'], query_2['Visit_Count'], color = 'red')
plt.scatter(query_2['Week'],query_2['Visit_Count'])
plt.ylim([0, 50])

In [ ]:
second_half_570.to_csv("sfdata.csv")